body {
  font-family: Helvetica;
}

#main_header {
  background-image: url("/resources/images/pattern.jpeg");
}

#main_header h1 {
  font-size: 100px;
  font-weight: bold;
  color:khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color:white;
}

#brushes header {
  background-color: mediumspringgreen;
}

#frames header {
  background-color: lightcoral;
}

#paint header {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}